<h2 mat-dialog-title>Atualizar Livro: {{ this.Book["titulo"] }}</h2>
<form [formGroup]="bookFormGroup" class="form">
  <mat-form-field class="form-element">
    <mat-label>Gênero</mat-label>
    <input matInput formControlName="tipo" placeholder="Gênero" required />
  </mat-form-field>
  <mat-form-field class="form-element">
    <mat-label>Imagem</mat-label>
    <input matInput formControlName="imagemF" placeholder="Imagem" />
  </mat-form-field>
  <mat-form-field class="form-element">
    <mat-label>Descrição</mat-label>
    <input
      matInput
      formControlName="descricao"
      placeholder="Descrição do livro"
      required
    />
  </mat-form-field>
  <mat-form-field class="form-element">
    <mat-label>Editora</mat-label>
    <input matInput formControlName="editora" placeholder="Editora" />
  </mat-form-field>
  <mat-form-field class="form-element">
    <mat-label>Selecione um autor</mat-label>
    <mat-select
      matInput
      formControlName="autor"
      [compareWith]="compareAuthor"
      placeholder="selecionar autor"
      required
    >
      <mat-option *ngFor="let author of authors" [value]="author">{{
        author.nome
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-element">
    <button
      class="button"
      color="primary"
      mat-button
      [disabled]="bookFormGroup.invalid"
      (click)="updateBook()"
    >
      Atualizar Livro
    </button>
  </div>
  <div class="form-element">
    <button class="button" color="warning" mat-button (click)="closeDialog()">
      Fechar
    </button>
  </div>
</form>
