<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title
      class="selecionado"
      [routerLink]="['/authors/detail', Author.nome]"
      >{{ Author.nome }}</mat-card-title
    >
    <mat-card-subtitle>{{
      countBooksOnAuthor(Author.autoria.length)
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="authorCover-image imagem"
    [src]="Author.imagemA"
    onError="this.src='https://toppng.com/uploads/preview/icone-homem-man-icon-11553494437bgj8eja2bq.png'"
    alt="Photo of Author"
    [routerLink]="['/authors/detail', Author.nome]"
  />
  <mat-card-content>
    <p *ngIf="Author.biografia">{{ sliceBiography(Author.biografia) }}</p>
    <p *ngIf="!Author.biografia">Não foi informado uma biografia.</p>
  </mat-card-content>
</mat-card>
