.button {
  width: 100%;
}

.select-autor {
  font-size: 13px;
  cursor: pointer;
  color: rgb(130, 130, 130);
}

.select-autor:hover {
  font-size: 13px;
  text-decoration: underline;
  color: rgb(98, 122, 255);
}
